@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Content/index.css" />
<div class="hero">
    <div></div>
</div>
<h1>Welcome to our page!</h1>
<div class="row">
    <div class="col-md-6">
        <h2>Guitar!</h2>
        <p>
            A guitar is a stringed instrument used to make musical sounds and melodies and are used for different occasions and events and can also be used personally at home.

            They are usually played by stroking or plucking the strings. Guitars can be played while sitting or standing. There are different types of guitars but they are usually very similar in appearance.
        </p>
        <img src="~/Slike/sem.jpg" width="900px" height="1390px" />
    </div>
    <div class="col-md-6">
        <h2>Info</h2>
        <p>We want to hear about your favorite guitar players, and how they impacted your style and music that you make.</p>
        <img src="~/Slike/dejvmastejn.jpg" width="900px" height="1390px" />
    </div>
    
</div>
<div class="row">
    <div class="col-sm-12 col-lg-12">
        <div id="footer">
            <p>Copyright</p>
        </div>
    </div>
</div>