
@model WebApplication2.Models.Forma
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpisForme</title>
    <style>
        body{
            background-image:url("/Slike/bckgrnd.jpg");
            background-size:cover;
            background-repeat:no-repeat repeat;
        }
        .kontakt {
            background-image: url("/Slike/slika1.jpg");
            background-repeat: no-repeat repeat;
            background-size: cover;
            border: 2px solid silver;
            padding: 20px;
            height: 800px;
            width: 700px;
            margin: auto;
            text-align: left;
            
        }
            .kontakt p {
                font-weight: bold;
                color: rgb(0, 0, 0);
               
            }
            .kontakt input [type=submit]{
               
            
                cursor:pointer;
            }
        
       
    </style>
</head>
<body>
    
    @using (Html.BeginForm("UpisForme", "Home", FormMethod.Post, new { @class ="kontakt"
}))
     {
       <fieldset><legend>Tell us how you feel about guitar</legend>
        <p>Name:@Html.TextBoxFor(x=>x.Name)</p>
        <p>Email adress:@Html.TextBoxFor(x=>x.Email)</p>
         <p>Message:@Html.TextAreaFor(x=>x.Message)</p>
        
       </fieldset>
       <input type="submit" value="Submit" />




         }
    
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <div id="footer">
                <p>Copyright</p>
            </div>
        </div>
    </div>
</body>
</html>
